<!DOCTYPE html>

<html>
     <head>
       <title>Listagem de Atividades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/css/estilos.css">


        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
         <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
        <!-- Navegação -->
        <nav class="menu-nav">        
            <a href="/">Página Inicial</a>
                <div class="menu-item dropdown">
                <a href="#">Cadastrar</a>
                <div class="dropdown-content">
                    <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                        <a th:href="@{/individuo/cadastro}">Individuo</a>
                    </sec:authorize>
                    <div sec:authorize="hasRole('Administrador', 'Colaborador')">
                        <a href="/colaborador/cadastro">Colaborador</a>
                    </div>
                    <sec:authorize access="hasRole('Administrador')">
                        <a th:href="@{/usuario/cadastro}">Usuário</a>
                    </sec:authorize>
                    <div sec:authorize="hasAnyRole('Administrador')">
                        <a href="/atividade/cadastro">Atividade</a>
                    </div>
                </div>
            </div>
                <div class="menu-item dropdown">
                    <a href="#">Relatórios</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Famílias</a>
                        <a href="/individuo/lista">Indivíduos</a>
                        <a href="/usuario/lista">Usuários</a>
                        <a href="/atividade/lista">Colaboradores</a>
                    </div>             
                </div>          
        </nav>
    
    <div class="conteudo-centralizado">
        <!-- Títulos e subtitulos-->
        <h1>Listagem de Colaboradores</h1>
    </div>
    
    <section class="fundo-claro">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Atividade</th>
                <th>Período</th>
                <th>Hora Início</th>
                <th>Hora Término</th>
                <th>Carga Horária</th>
                <th>Data Início</th>
                <th>Data Término</th>
                <th>Objetivo</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="atividade: ${atividade}" class="linha-tracejada">
                <td th:text="${atividade.id}"></td>
                <td th:text="${atividade.nomeAtividade}"></td>
                <td th:text="${atividade.periodo}"></td>
                <td th:text="${atividade.horaInicio}"></td>
                <td th:text="${atividade.horaFim}"></td>
                <td th:text="${atividade.cargaHoraria}"></td>
                <td th:text="${atividade.dataInicio}"></td>
                <td th:text="${atividade.dataTermino}"></td>
                <td th:text="${atividade.objetivo}"></td>
                <td>
                    <a th:href="@{'/atividade/alterar/' + ${atividade.id}}">Alterar</a>
                    <a th:href="@{'/atividade/excluir/' + ${atividade.id}}"th:onclick="'return confirm(\'Deseja excluir o ID ' + ${atividade.id} + '?\')'">
                        Excluir</a>
                    <a th:href="@{/colaboradorAlocacao/alocar/{id}(id=${atividade.id})}">Alocação</a>
                </td>
            </tr>
            
        </tbody>
    </table>
    </section>
    </body>
</html>
