
<html>
    <head>
       <title>Sistema de Cadastramento</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/css/estilos.css">


        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
         <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
        <!-- Navegação -->
        <nav class="menu-nav">
           
                <a href="/">Página Inicial</a>
                <a href="/familia/cadastro">Familia</a>
                
                <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                    <a th:href="@{/individuo/cadastro}">Individuo</a>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('Administrador','Colaborador')">
                    <a th:href="@{/colaborador/cadastro}">Colaborador</a>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('Administrador')">
                    <a th:href="@{/usuario/cadastro}">Usuário</a>
                </sec:authorize>
                
                <div sec:authorize="hasAnyRole('Administrador')">
                    <a href="/atividade/cadastro">Atividade</a>
                    <a th:href="@{/atividade/atividade-colaborador}">Vinculo Atividade</a>
                </div>
            
               <div class="dropdown">
                    <a href="#">Consulta</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Listar Famílias</a>
                        <a href="/individuo/lista">Listar Indivíduos</a>
                        <a href="/colaborador/lista">Listar Colaboradores</a>
                        <a href="/usuario/lista">Listar Usuários</a>
                        <a href="/atividade/lista">Listagem de Atividades</a>
                        <hr> <a th:href="@{/colaborador/lista-com-atividades}">Colaboradores com Atividades</a>
                        <a th:href="@{/atividade/lista-com-participantes}">Atividade por Participantes</a>
                    </div>             
                </div>         
        </nav>
    
    <div class="conteudo-centralizado">
        <!-- Títulos e subtitulos-->
        <h1>Listagem de Colaboradores</h1>
    </div>
    
    <section class="fundo-claro">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Contato</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="colaborador: ${colaborador}" class="linha-tracejada">
                <td th:text="${colaborador.id}"></td>
                <td th:text="${colaborador.nome}"></td>
                <td th:text="${colaborador.endereco}"></td>
                <td th:text="${colaborador.telefone}"></td>
                <td th:text="${colaborador.email}"></td>
                <td>
                    <a th:href="@{'/colaborador/alterar/' + ${colaborador.id}}">Alterar</a>
                    <a th:href="@{'/colaborador/excluir/' + ${colaborador.id}}"
   th:onclick="'return confirm(\'Deseja excluir o ID ' + ${colaborador.id} + '?\')'">
   Excluir
                    </a>
                </td>
            </tr>
            
        </tbody>
    </table>
    </section>
    </body>
</html>
