<!DOCTYPE html>

<html>
    <head>
        <title>Cadastro de Colaborador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">

        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
           <!-- Navegação -->
           <nav class="menu-nav">
            <a href="/">Página Inicial</a>
            <a href="/familia/cadastro">Familia</a>
            
            <div sec:authorize="hasRole('Administrador', 'Usuario')">
                <a href="/individuo/cadastro">Individuo</a>
            </div>
                        
            <div sec:authorize="hasAnyRole('Administrador')">
                <a href="/usuario/cadastro">Usuário</a>
            </div>
            
            <div sec:authorize="hasAnyRole('Administrador')">
                <a href="/atividade/cadastro">Atividade</a>
                <a th:href="@{/atividade/atividade-colaborador}">Vinculo Atividade</a>
            </div>
            
            <div class="dropdown">
                <a href="#">Consulta</a>
                <div class="dropdown-content">
                    <a href="/familia/lista">Listar Famílias</a>
                    <a href="/individuo/lista">Listar Indivíduos</a>
                    <a href="/colaborador/lista">Listar Colaboradores</a>
                    <a href="/usuario/lista">Listar Usuários</a>
                        <hr> <a th:href="@{/colaborador/lista-com-atividades}">Colaboradores com Atividades</a>
                        <a th:href="@{/atividade/lista-com-participantes}">Atividade por Participantes</a>
                </div>             
            </div>
        </nav>
                     
            <div class="conteudo-centralizado">
                <h1>Cadastro de Colaboradores</h1>
            </div>
    
    <section class="form-cad">
        <form method="post" th:action="@{/colaborador/gravar}" th:object="${colaborador}" class="formulario">
            
            <input type="hidden" th:field="*{id}" />
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" class="grande" required>
            
            <label for="endereco">Endereço</label>
            <input type="text" th:field="*{endereco}" class="grande" required>
            
            <label for="telefone">Contato</label>
            <input type="tel" th:field="*{telefone}" required>
            
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" required>
            
            <div class="form-btn-center">
                <button type="submit" class="btn">Salvar</button>
            </div>
        </form>
    </section>
                  
    </body>
</html>
