    <!DOCTYPE html>    
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <head>
           <title>Alocação de Colaborador</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Favicon -->
            <link href="./img/favicon.ico" rel="icon" type="image/x-icon">
            <link rel="stylesheet" href="/css/estilos.css">


            <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
             <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
            <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
            <meta name="author" content="Clovis de Jesus">
        </head>
        <body>
             <nav class="menu-nav">
                <a href="/">Página Inicial</a>
                <div class="menu-item dropdown">
                     <a href="#">Cadastrar</a>
                     <div class="dropdown-content">
                        <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                            <a th:href="@{/individuo/cadastro}">Individuo</a>
                        </sec:authorize>
                            <div sec:authorize="hasRole('Administrador', 'Colaborador')">
                                <a href="/colaborador/cadastro">Colaborador</a>
                            </div>
                        <sec:authorize access="hasRole('Administrador')">
                            <a th:href="@{/usuario/cadastro}">Usuário</a>
                        </sec:authorize>
                        <div sec:authorize="hasAnyRole('Administrador')">
                            <a href="/atividade/cadastro">Atividade</a>
                        </div>
                    </div>
                </div>
                <div class="menu-item dropdown">
                    <a href="#">Relatórios</a>
                    <div class="dropdown-content">
                        <a th:href="@{/familia/lista}">Famílias</a>
                        <a th:href="@{/individuo/lista}">Indivíduos</a>
                        <a th:href="@{/usuario/lista}">Usuários</a>
                        <a th:href="@{/colaborador/lista}">Colaboradores</a>
                        <a th:href="@{/atividade/lista}">Atividades</a>
                        <a th:href="@{/colaborador/lista-com-atividades}">Alocações</a>
                    </div>             
                </div>          
            </nav>
           <div class="conteudo-centralizado">
                <h1>Alocação Atividade a Colaborador</h1>
            </div>

            <section class="form-cad">
    <form method="post" th:action="@{/colaboradorAlocacao/gravar}" th:object="${colaboradorAlocacao}" class="formulario">

        <!-- Atividade -->
        <label>Atividade</label>
        <span th:if="${colaboradorAlocacao.atividade != null}" th:text="${colaboradorAlocacao.atividade.id + ' - ' + colaboradorAlocacao.atividade.nomeAtividade}"></span>
        <span th:if="${colaboradorAlocacao.atividade == null}">Não definida</span>

        <input type="hidden" th:field="*{atividade.id}" />

        <!-- Colaboradores -->
        <label>Colaboradores</label>
        <select th:field="*{colaborador.id}">
            <option th:each="col : ${colaboradoresDisponiveis}"
                    th:value="${col.id}"
                    th:text="${col.id + ' - ' + col.nome}">
            </option>
        </select>

        <!-- Responsável -->
        <label>Responsável</label>
        <input type="checkbox" th:field="*{responsavel}" />

        <button type="submit">Salvar</button>
    </form>
</section>
        </body>
    </html>
