<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colaboradores e Atividades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    </head>
<body>
    <nav class="menu-nav">
        <a href="/">Página Inicial</a>
        <div class="menu-item dropdown">
                <a href="#">Cadastrar</a>
                <div class="dropdown-content">
                    <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                        <a th:href="@{/individuo/cadastro}">Individuo</a>
                    </sec:authorize>
                    <div sec:authorize="hasRole('Administrador', 'Colaborador')">
                        <a href="/colaborador/cadastro">Colaborador</a>
                    </div>
                    <sec:authorize access="hasRole('Administrador')">
                        <a th:href="@{/usuario/cadastro}">Usuário</a>
                    </sec:authorize>
                    <div sec:authorize="hasAnyRole('Administrador')">
                        <a href="/atividade/cadastro">Atividade</a>
                    </div>
                </div>
            </div>
                <div class="menu-item dropdown">
                    <a href="#">Relatórios</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Famílias</a>
                        <a href="/individuo/lista">Indivíduos</a>
                        <a href="/usuario/lista">Usuários</a>
                        <a href="/atividade/lista">Colaboradores</a>
                    </div>             
                </div> 
    </nav>
    
    <div class="conteudo-centralizado">
        <h1>Alocações de Colaboradores em Atividades</h1>
    </div>

    <section class="fundo-claro">
        <div th:if="${#lists.isEmpty(alocacoes)}" class="mensagem-info">
            <p>Nenhuma alocação encontrada.</p>
        </div>
        <table th:unless="${#lists.isEmpty(alocacoes)}" class="tabela-listagem">
            <thead>
                <tr>
                    <th>ID Alocação</th>
                    <th>Nome do Colaborador</th>
                    <th>Atividade</th>
                    <th>Responsável</th>
                    <th>Ações</th>
                    </tr>
            </thead>
            <tbody>
                <tr th:each="alocacoes : ${alocacoes}">
                    <td th:text="${alocacao.id}"></td>
                    <td th:text="${alocacao.colaborador.nome}"></td>
                    <td th:text="${alocacao.atividade.nomeAtividade}"></td>
                    <td th:text="${alocacao.atividade.periodo}"></td>
                    <td>
                        <span th:text="${alocaco.responsavel? 'Sim' : 'Não'}"></span>
                    </td>
                     
                    <td>
                        <a th:href="@{'/colaboradorAlocacao/alterar/' + ${alocacao.id}}">Alterar</a>
                        <a th:href="@{'/colaboradorAlocacao/excluir/' + ${alocacao.id}}" 
                           onclick="return confirm('Tem certeza que deseja excluir esta alocação?');">Excluir</a>
                    </td>   
                    
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>