<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sistema de Cadastramento</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/css/estilos.css">


        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
         <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
<body>
<!-- Navegação -->
        <nav class="menu-nav">
           
                <a href="/">Página Inicial</a>
                <a href="/familia/cadastro">Familia</a>
                
                <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                    <a th:href="@{/individuo/cadastro}">Individuo</a>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('Administrador','Colaborador')">
                    <a th:href="@{/colaborador/cadastro}">Colaborador</a>
                </sec:authorize>
                
                <sec:authorize access="hasRole('Administrador')">
                    <a th:href="@{/usuario/cadastro}">Usuário</a>
                </sec:authorize>
            
                <div class="menu-item dropdown">
                    <a href="#">Consulta</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Listar Famílias</a>
                        <a href="/individuo/lista">Listar Indivíduos</a>
                        <a href="/colaborador/lista">Listar Colaboradores</a>
                        <a href="/usuario/lista">Listar Usuários</a>
                    </div>             
                </div>         
        </nav>
    
    <div class="conteudo-centralizado">
        <!-- Títulos e subtitulos-->
        <h1>Listagem de Familias Cadastradas</h1>
    </div>
    
    <section class="fundo-claro">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome da Família</th>
                <th>Nr. de indivíduos</th>
                <th>Endereço</th>
                <th>Responsável</th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="familia: ${familias}" class="linha-tracejada">
                <td th:text="${familia.id}"></td>
                <td th:text="${familia.nomeFamilia}"></td>
                <td th:text="${familia.nrIndividuos}"></td>
                <td th:text="${familia.endereco}"></td>
                <td th:text="${familia.responsavel}"></td>
                <td>
                    <a th:href="@{'/familia/alterar/' + ${familia.id}}">Alterar</a>
                    <a th:href="@{'/familia/excluir/' + ${familia.id}}"
   th:onclick="'return confirm(\'Deseja excluir o ID ' + ${familia.id} + '?\')'">
   Excluir
</a>
                </td>
            </tr>
            
        </tbody>
    </table>
    </section>
</body>
</html>