<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Sistema de Cadastramento</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/estilos.css}" />
        
        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
        
<!-- Navegação -->
        <nav class="menu-nav">
           
                <a href="/">Página Inicial</a>
                <a href="/familia/cadastro">Familia</a>
                
                <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                    <a th:href="@{/individuo/cadastro}">Individuo</a>
                </sec:authorize>

                <sec:authorize access="hasRole('Administrador')">
                    <a th:href="@{/usuario/cadastro}">Usuário</a>
                </sec:authorize>
            
                <div class="menu-item dropdown">
                    <a href="#">Consulta</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Listar Famílias</a>
                        <a href="/individuo/lista">Listar Indivíduos</a>
                    </div>             
                </div>         
        </nav>

        <div class="conteudo-centralizado">
<!-- Títulos e subtitulos -->
            <h1>Sistema de Cadastramento</h1>

            <p>Seja bem-vindo ao Sistema de Cadastramento</p>
        </div>
        <div>
            <section class="img-destaque">
                <img th:src="@{/img/imgFundoLM.png}" alt="imagem LM" />
            </section>
        </div>

</body>
</html>