<html>
    <head>
        <title>Cadastro de Individuo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">

        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
     
    </head>
    <body>
    <!-- Navegação -->
        <nav class="menu-nav">      
            <a href="/">Página Inicial</a>
            <div class="menu-item dropdown">
                <a href="#">Cadastrar</a>
                <div class="dropdown-content">
                    <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                        <a th:href="@{/individuo/cadastro}">Individuo</a>
                    </sec:authorize>
                    <div sec:authorize="hasRole('Administrador', 'Colaborador')">
                        <a href="/colaborador/cadastro">Colaborador</a>
                    </div>
                    <sec:authorize access="hasRole('Administrador')">
                        <a th:href="@{/usuario/cadastro}">Usuário</a>
                    </sec:authorize>
                    <div sec:authorize="hasAnyRole('Administrador')">
                        <a href="/atividade/cadastro">Atividade</a>
                    </div>
                </div>
            </div>
            <div class="menu-item dropdown">
                <a href="#">Relatórios</a>
                <div class="dropdown-content">
                    <a th:href="@{/familia/lista}">Famílias</a>
                    <a th:href="@{/individuo/lista}">Indivíduos</a>
                    <a th:href="@{/usuario/lista}">Usuários</a>
                    <a th:href="@{/colaborador/lista}">Colaboradores</a>
                    <a th:href="@{/atividade/lista}">Atividades</a>
                    <a th:href="@{/colaborador/lista-com-atividades}">Alocações</a>
                </div>             
            </div>       
        </nav>
    
    <div class="conteudo-centralizado">
        <h1>Cadastro de Individuo</h1> 
    </div>

    <section class="form-cad">
        <form method="post" th:action="@{/individuo/gravar}" th:object="${individuo}" class="formulario">
        
            <input type="hidden" th:field="*{id}" />
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" class="grande" required>
            
            <label for="dataNasc">Data Nasc</label>
            <input type="date" name="dataNasc"
                   th:value="${individuo.dataNasc != null} ? ${#temporals.format(individuo.dataNasc, 'yyyy-MM-dd')} : ''"
            required />
            
            <label for="familia">Família</label>
            <select th:field="*{familia}">
                <option th:each="fam : ${familias}" 
                        th:value="${fam.id}"
                        th:text="${fam.nomeFamilia}">
                </option>
            </select></p>
            
            <div class="form-btn-center">
                <button type="submit" class="btn">
                    <img src="/img/Save.png" alt="Salvar" class="icon-btn"> Salvar </button>
            
                <button type="submit" class="btn">Voltar
                <a th:href="@{/individuo/lista}" class="btn">
                    <img src="/img/Return.png" alt="Volar" class="icon-btn">
                </a>
                    </button>
            </div>
        </form>
    </section>
            
    </body>
</html>
