<!DOCTYPE html>

<html>
    <head>
        <title>Sistema de Cadastramento</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">

        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
<body>
<!-- Navegação -->
        <nav class="menu-nav">
           
                <a href="/">Página Inicial</a>
                <a href="/familia/cadastro">Familia</a>
                
                <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                    <a th:href="@{/individuo/cadastro}">Individuo</a>
                </sec:authorize>
                                
                <sec:authorize access="hasAnyRole('Administrador','Colaborador')">
                    <a th:href="@{/colaborador/cadastro}">Colaborador</a>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('Administrador')">
                    <a th:href="@{/usuario/cadastro}">Usuário</a>
                </sec:authorize>
                
                <div sec:authorize="hasAnyRole('Administrador')">
                    <a href="/atividade/cadastro">Atividade</a>
                </div>
            
                <div class="menu-item dropdown">
                    <a href="#">Consulta</a>
                    <div class="dropdown-content">
                        <a href="/familia/lista">Listar Famílias</a>
                        <a href="/colaborador/lista">Listar Colaboradores</a>
                        <a href="/usuario/lista">Listar Usuários</a>
                    </div>             
                </div>         
        </nav>

    <div class="conteudo-centralizado">
        <!-- Títulos e subtitulos -->
        <h1>Listagem de Individuos Cadastradas</h1> 
    </div> 
    
    <section class="fundo-claro">
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Família</th>
                <th>Ações</th>
            </tr>
            
        <tbody>
            <tr th:each="individuo: ${individuos}" class="linha-tracejada">
                <td th:text="${individuo.id}"></td>
                <td th:text="${individuo.nome}"></td>
                <td th:text="${individuo.dataNasc}"></td>
                <td th:text="${individuo.familia.nomeFamilia}"></td>
                <td>
                    <a th:href="@{'/individuo/alterar/' + ${individuo.id}}">Alterar</a>
                    <a th:href="@{'/individuo/excluir/' + ${individuo.id}}"
   th:onclick="'return confirm(\'Deseja excluir o ID ' + ${individuo.id} + '?\')'">
   Excluir
                    </a>
                </td>
            </tr>
            
        </tbody>       
                                                     
        </table>
    </section>

</body>
</html>
