<html>
    <head>
        <title>Listagem de usuários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">

        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
        <!-- Navegação -->
        <nav class="menu-nav">          
            <a href="/">Página Inicial</a>
            <div class="menu-item dropdown">
            <a href="#">Cadastrar</a>
            <div class="dropdown-content">
                <sec:authorize access="hasAnyRole('Administrador','Usuario')">
                    <a th:href="@{/individuo/cadastro}">Individuo</a>
                </sec:authorize>
                <div sec:authorize="hasRole('Administrador', 'Colaborador')">
                    <a href="/colaborador/cadastro">Colaborador</a>
                </div>
                <sec:authorize access="hasRole('Administrador')">
                    <a th:href="@{/usuario/cadastro}">Usuário</a>
                </sec:authorize>
                <div sec:authorize="hasAnyRole('Administrador')">
                    <a href="/atividade/cadastro">Atividade</a>
                </div>
                </div>
            </div>
            <div class="menu-item dropdown">
                <a href="#">Relatórios</a>
                <div class="dropdown-content">
                    <a th:href="@{/familia/lista}">Famílias</a>
                    <a th:href="@{/individuo/lista}">Indivíduos</a>
                    <a th:href="@{/usuario/lista}">Usuários</a>
                    <a th:href="@{/colaborador/lista}">Colaboradores</a>
                    <a th:href="@{/atividade/lista}">Atividades</a>
                    <a th:href="@{/colaborador/lista-com-atividades}">Alocações</a>
                </div>             
            </div>        
        </nav>

    <div class="conteudo-centralizado">
        <!-- Títulos e subtitulos -->
        <h1>Listagem de Usuários do Sistema</h1> 
    </div> 

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Permissão</th>
            <th>Email</th>

        </tr>
        <tr th:each="user : ${usuario}" th:if="${user.colaborador != null}">
            <td th:text="${user.id}"></td>        
                <td th:text="${user.colaborador.nome}"></td>
                <td th:text="${user.colaborador.endereco}"></td>
                <td th:text="${user.colaborador.telefone}"></td>
		<td th:text="${user.role}"></td>
       		<td th:text="${user.email}"></td>
        </tr>

 
    </table>

    </body>
</html>
