<html>
    <head>
        <title>Cadastro de Individuo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">

        <!-- Opcionais || Dever de casa: pesquisar por práticas SEO na web -->
        <meta name="keywords" content="Cursos, Vunerabilidade, Carencia">
        <meta name="description" content="O CELM disponibiliza as famílias carentes apoio educacional, social e saúde.">
        <meta name="author" content="Clovis de Jesus">
    </head>
    <body>
            <!-- Navegação -->
         <nav>
            <a href="/">Página Inicial</a>
            <a href="/familia/cadastro">Familia</a>
            
            <div sec:authorize="hasRole('Administrador', 'Usuario')">
                <a href="/individuo/cadastro">Individuo</a>
            </div>
            
            <div sec:authorize="hasRole('Administrador')">
                <a href="/usuario/cadastro">Usuário</a>
            </div>
            
            <div class="dropdown">
                <a href="#">Consulta</a>
                <div class="dropdown-content">
                    <a href="/familia/lista">Listar Famílias</a>
                    <a href="/individuo/lista">Listar Indivíduos</a>
                    <a href="/usuario/lista">Listar Usuários</a>
                </div>             
            </div>
        </nav>
    
            <div class="conteudo-centralizado">
                <h1>Cadastro de Usuário do Sistema</h1>
            </div>
    
    <section class="form-cad">
        
            <!-- MENSAGEM DE SUCESSO -->
        <div th:if="${param.sucesso}" style="color: green; text-align: center; margin-bottom: 1em;">
           Usuário cadastrado com sucesso!
        </div>
        <form method="post" th:action="@{/usuario/gravar}" th:object="${usuario}" class="formulario">
            
            <label for="nome">Nome do Usuário</label>
            <input type="text" th:field="*{nome}" class="grande" required>
            
            <label for="endereco">Endereço</label>
            <input type="text" th:field="*{endereco}" class="grande" required>
            
            <label for="telefone">Telefone</label>
            <input type="text" th:field="*{telefone}" required>

            <label for="role">Permissão</label>
            <select th:field="*{role}">
                <option th:each="p : ${papeis}" th:value="${p}" th:text="${p}"></option>
            </select>
            
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" required>
            
            <label for="senha">Senha</label>
            <input type="password" th:field="*{senha}" required>
            
            <div th:if="${param.sucesso}" style="color: green;">Usuário cadastrado com sucesso!
            </div>
        
            <div class="form-btn-center">
                <button type="submit" class="btn">Salvar</button>
            </div>
            
        </form>
    </section>

    </body>
</html>
